import type { NextPage } from 'next'
import styles from '../styles/{{name}}.module.css'

const {{name}}: NextPage = () => {
  return (
    <div className={``}>

    </div>
  )
}

export default {{name}}
