import React, { ReactElement } from "react";
import styles from "./{{name}}.module.scss";

function {{name}}({}): ReactElement {
  return (
    <div className={styles[""]}>

    </div>
  );
}

export default {{name}};